html{
  height:100%;

}
body{
  background-image: url("https://images.pexels.com/photos/301926/pexels-photo-301926.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  color: white;
  font-size: 20px;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;

}
#overlay{
  height: inherit;
  width: inherit;
  background-color: rgba(0,0,0,0.8);
  z-index: 2;
}

.rules{
  display: none;
}

.dets{
  display: none;
}

.wel{
  display: none;
}

.play{
  display: none;
}

.jumbotron{
  color: black;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Playfair Display', serif;
  font-family: 'Fredoka One', cursive;
}

#start, #rule{
  border-radius: 10px;
}

#next{
  margin-top: 20px;
  border-radius: 10px;
}

#freshGame{
  display: none;
  margin-top: 80px;
}

.pl2{
  display: none;
}


#name,#name2,#email,#email2{
  color: black;
  border-radius: 20px;
  padding: 5px;
}
