body{
  background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://steamuserimages-a.akamaihd.net/ugc/3298062395394990387/6FB01AA0A96A39A5394808EECB669D5F11AFFFF8/");
  color: white;
  font-size: 20px;
}

.rules{
  display: none;
}

.dets{
  display: none;
}

.wel{
  display: none;
}

.play{
  display: none;
}

.jumbotron{
  color: black;
}

#start, #rule{
  border-radius: 10px;
}

#next{
  margin-top: 20px;
  border-radius: 10px;
}
